@font-face {
  font-family: 'Graphik_regular';
  src: url(fonts/GraphikLCG-Regular.woff);
  src: url(fonts/GraphikLCG-Regular.ttf);
  src: url(fonts/GraphikLCG-Regular.woff2);
}

@font-face {
  font-family: 'Graphik_semibold';
  src: url(fonts/GraphikLCG-Semibold.ttf);
  src: url(fonts/GraphikLCG-Semibold.woff);
  src: url(fonts/GraphikLCG-Semibold.woff2);
}

* {
  font-family: 'Graphik_regular';
  font-weight: 400;
}

a {
  text-decoration: underline;
  color: black;
}

li a {
  text-decoration: none;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.--container_big {
  max-width: 1440px;
}

/*Buttons*/
.btn {
  font-family: 'Graphik_semibold';
  font-size: 16px;
  min-width: 120px;
  line-height: 45px;
  background-color: white;
  border: 1px solid #00000080;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}

.--btn-color {
  background-color: #FF6336;
  color: white;
  border: none;
  padding: 2px;
}

.btn-black {
  max-width: 160px;
  background-color: black;
  color: white;
  font-family: 'Graphik_semibold';
  font-size: 17px;
  line-height: 60px;
  min-width: 160px;
}

.buttons a {
  text-decoration: none;
  font-family: 'Graphik_semibold';
  font-size: 16px;
  line-height: 60px;
}


.ps_button {
  min-width: 160px;
  background-color: #FF6336;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.ps_button_white {
  min-width: 160px;
  text-align: center;
  border: 1px solid #00000080;
}

.buttons {
  display: flex;
}

.header_menu {
  display: flex;
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 25px;

  }

  .--container_big {
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
}

.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 51px;
  border-bottom: 1px solid #00000080;
}

.buttons_main {
  display: flex;
}

.logo {
  margin-right: 51px;
}

.header_menu {
  margin-right: auto;
}

.nav_menu_items {
  display: flex;
  margin-left: auto;
}

.nav_menu_items li {
  margin-right: 57px;
  font-size: 14px;
}

.nav_menu_items:last-child {
  margin-right: 0;
}


/*nav*/
@media screen and (max-width: 560px) {
  .nav_main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: auto;
    padding-bottom: 20px;
  }

  .nav_menu_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding-bottom: 20px;
  }

  .header_menu {
    margin: auto;
    padding-left: px;
  }

  .buttons_main {
    margin: auto;
  }
}

/*main content*/

.content_1 {
  display: flex;
  padding: 129px 0 172px;
}

.--second {
  min-width: 160px;
  margin: 0 40px;
  line-height: 60px;
}

.content_text {
  flex-grow: 1;
}

.content_1-img {
  flex-grow: 1;
}

.title {
  font-family: 'Graphik_semibold';
  font-size: 63px;
  max-width: 522px;
  line-height: 70px;
  margin-bottom: 51px;
}

.content_main_text {
  font-size: 25px;
  max-width: 471px;
  margin-bottom: 50px;
}

.content_text div {
  margin-bottom: 50px;
}

.signature {
  font-size: 15px;
}

@media screen and (max-width:560px) {
  .content_1 {
    display: flex;
    flex-direction: column;
  }
  .content_text h1 {
    text-align: center;
  }
  .content_text p {
    text-align: center;
  }

  .content_text div {
    justify-content: center;
    margin-bottom: 25px;
  }

  .content_1-img {
    order: -1;
    margin-bottom: 40px;
  }


}

/*localization*/

.localization {
  background-color: #FF9C7D;
  padding: 108px 0 100px;

}

.localization_title {
  max-width: 720px;
  font-family: 'Graphik_semibold';
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
}

.lables {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

@media screen and (max-width: 560px) {
  .lables {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .lables img {
    margin-bottom: 40px;
  }
}

/*all content*/

.all_content {
  padding: 90px 0 150px;
}

.start {
  text-decoration: none;
  font-family: 'Graphik_semibold';
  font-size: 20px;
  line-height: 30px;
}


.content_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 250px;
}

.zero {
  padding-bottom: 0;
}

h2 {
  font-family: 'Graphik_semibold';
  font-size: 50px;
  line-height: 60px;
}

.content_box_text h2 {
  max-width: 493px;
  margin-bottom: 30px;
}

.content_box_text p {
  font-size: 20px;
  line-height: 30px;
  max-width: 491px;
  margin-bottom: 30px;
}

.content_box_text {
  flex-grow: 1;
  padding-right: 165px;
}

.content_img {
  flex-grow: 1;
}

.--box-reverse {
  flex-direction: row-reverse;
}

.--reverse_content {
  padding-left: 165px;
  padding-right: 0;
}

.container h2 {
  font-family: 'Graphik_semibold';
  font-size: 50px;
  line-height: 60px;
}

@media screen and (max-width: 560px) {
  .content_box {
    display: flex;
    flex-direction: column;
    padding-bottom: 125px;
  }
  .content_box_text {
    margin-bottom: 30px;
    text-align: center;
    padding-right: 0;
  }
  .content_img {
    max-width: 100%;
  }
  .--reverse_content {
    padding-left: 0;
  }
  .all_content {
    padding-bottom: px;
  }
  .container {
    border-bottom: 2px solid gray;
  }
  
}


/*copability*/

.compatibility {
  background-color: #FFF8E4;
  padding: 0;
}

.cmp_h2 {
  text-align: center;
  margin-bottom: 79px;
}

.cmp_link_img {
  margin-bottom: 26px;
}

.cmp_link_title {
  margin-bottom: 20px;
  font-family: 'Graphik_semibold';
  font-size: 25px;
  line-height: 35px;
}


.cmp_link {
  padding: 31px 13px 40px;
  text-align: center;
  max-width: 24% 
}

.cmp_links_list:last-child {
  margin-right: 0;
}


.cmp_links_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:560px) {
  .cmp_link {
    max-width: 50%;
  }
  
}

/*boost*/

.boost {
  padding: 154px 0 187px;
}

.boost img {
  margin-bottom: 49px;
}

.boost h3 {
  margin-bottom: 34px;
}

.boost p {
  font-family: 'Graphik_regular';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
  max-width: 409px;
}

.boost h2 {
  margin-bottom: 75px;
}

.boost_cards {
  display: flex;
  justify-content: space-between;
}

.boost_card {
  max-width: 409px;
}

.boost_cards h3 {
  font-family: 'Graphik_semibold';
  font-size: 30px;
  line-height: 40px;
}

.--more_margin {
  margin-bottom: 35px;
}

.--more_margin-1 {
  margin-bottom: 15px;
}

@media screen and (max-width:560px) {
  .boost h2 {
    text-align: center;
  }
  .boost_cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .boost_card {
    padding-bottom: 100px;
  }
  .boost img {
    margin-bottom: 20px;
  }
  .boost_text {
    border-bottom: 2px solid gray;
  }
  .boost_link {
    display: block;
    margin-bottom: 30px;
  }
  .boost {
    padding-bottom: 50px;
  }
  
}
/*chief*/
.chief {
  background-color: #C9E8F2;
}

.about_office_text {
  max-width: 920px;
  flex-grow: 1;
}

.about_img {
  flex-grow: 1;
}

.about_office {
  display: flex;
  justify-content: space-between;
  padding: 53px 0 105px;
}

.about_img {
  display: block;
}

.about_office_text p {
  margin-bottom: 23px;
  font-family: 'Graphik_regular';
  font-size: 30px;
  line-height: 40px;
}

.about_office_text span {
  margin-bottom: 7px;
  font-family: 'Graphik_regular';
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width:560px) {
  .about_office {
    flex-direction: column-reverse;
  }
  .about_photo {
   margin-bottom: 30px;
  }
  
  
}
/*rate*/
.rate {
  background-color: #DABC98;
  padding: 79px 0 84px;
}

.rate_text {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #000000;
  margin-right: 60px;
}

.rate_text img {
  margin-right: 67px;
}

.rate_text h3 {
  margin-right: 124px;
  max-width: 461px;
  font-family: 'Graphik_semibold';
  font-size: 35px;
  line-height: 50px;
  align-self: center;
}

.rate_info {
  display: flex;
}

.rate_logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate_logos img {
  margin-bottom: 20px;
}

.users {
  display: flex;
  flex-flow: column wrap;
  max-width: 128px;
  align-items: flex-start;
  margin-right: 70px;
}

.rated {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

@media screen and (max-width: 560px) {
  .rate_info {
    flex-direction: column;
  }
  .rate_text {
    flex-direction: column;
    margin: auto;
    border: none;
  }
  .rate_img {
    margin: auto;
  }
  .rate_text h3 {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .rate_logos {
    margin: auto;
  }
  
}
/*tools*/

.work_tools_items {
  padding: 165px 0 162px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.work_tools_items a {
  margin: 0 20px;
  line-height: 60px;
  text-decoration: none;
  font-size: 16px;
  min-width: 193px;
}

.h2_standart {
  max-width: 791px;
  font-size: 65px;
  line-height: 75px;
}

.work_tools_items p {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
  max-width: 539px;
}

.work_tools_items img {
  margin-bottom: 32px;
}

/*loca*/

.more_loca {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #FF9C7D;
  padding: 119px 0 161px;
}

.more_loca h2 {
  margin-bottom: 29px;
  font-family: 'Graphik_semibold';
  font-size: 60px;
  line-height: 75px;
}

.more_loca p {
  margin-bottom: 54px;
  font-size: 20px;
  line-height: 30px;
}

.loca_btn a {
  color: white;
  background-color: black;
  padding: 20px 40px;
  text-decoration: none;
  font-family: 'Graphik_semibold';
  font-size: 16px;
}

@media screen and (max-width: 560px) {
  .bird_img {
    width: 100%;
  }
  .work_tools_items {
    padding-top: 50px 0 50px 0;
  }
  
}

/*footer*/
.nav-footer {
  padding: 92px 0 95px;
}

.case {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-right: 140px;
}

.case h3 {
  margin-bottom: 28px;
  font-family: 'Graphik_semibold';
  font-size: 40px;
  line-height: 50px;
}

.bike_img {
  margin-bottom: 31px;
}

.case p {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 290px;
  font-size: 20px;
  line-height: 30px;
}

.case a {
  font-family: 'Graphik_semibold';
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.nav-footer-content {
  display: flex;
}

.nav_footer_list {
  display: flex;
}

.footer_list_item {
  min-width: 187px;
  margin-right: 1px;
}

.footer_list_item:last-child {
  margin-right: 0;
}

.footer_list_item h4 {
  font-family: 'Graphik_semibold';
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 21px;
}

.footer_list_item li {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width:560px) {
  .nav-footer-content {
    flex-direction: column;
  }
  .nav_footer_list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
  }
  .case {
    margin: auto;
    align-items: center;
  }
  .case p {
    justify-content: flex-start;
    text-align: center;
  }
  .bike_img {
    width: 100%;
  }
  .read_button {
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
  }
  .footer_list_item {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  
}

/*footer_bottom*/

.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 52px 0 43px;
  border-top: 1px solid black;
  align-items: center;
}

.footer_bottom_logo {
  display: flex;
}

.primes {
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  line-height: 15px;
  padding-right: 150px;
}

.footer_bottom p {
  max-width: 301px;
  margin-left: 14px;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 560px) {
  .primes {
    padding-right: 0;
  }
  
}